h1{
    color: white;
    background-color: black;
    text-align: center;
}

h2{
    color: deeppink;
    background-color: greenyellow;
    text-align: center;
}

h3{
    color: purple;
}

p{
    color: coral;
}

body{
    background-image: url(../images/kadai3_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}